<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://app-chatbotlf-v1-dev-ol.azurewebsites.net/webhookCMDev</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>app-chatbotlf-v1-dev-ol.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>app-chatbotlf-v1-dev-ol.azurewebsites.net/webhookCMDev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$app-chatbotlf-v1-dev-ol</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ColmedicaContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sql-common-dev-ol.database.windows.net;Initial Catalog=db-colmedicachatbot-dev;Persist Security Info=True;User ID=usrcolmedicachatbotdev;Password=2021EA56-3BCB-4E4D-B5AC-35D159B0EBDF;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ColmedicaContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/ColmedicaModel.ColmedicaModel.csdl|res://*/ColmedicaModel.ColmedicaModel.ssdl|res://*/ColmedicaModel.ColmedicaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql-common-dev-ol.database.windows.net;initial catalog=db-colmedicachatbot-dev;persist security info=True;user id=usrcolmedicachatbotdev;password=2021EA56-3BCB-4E4D-B5AC-35D159B0EBDF;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
  </ItemGroup>
</Project>