<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="baseUrlApi" value="https://cosabog06xz023.colmedica.com/COAP131/SvcWhatsApp.svc/rest/" />
    <add key="baseUrlApiToken" value="https://cosabog06xz023.colmedica.com/COAP131/SvcAcceso.svc/rest/" />
    <add key="usuarioBot" value="NI900801459" />
    <add key="pwdBot" value="OneLinkPrueba2020*" />
    <add key="llaveCifrado" value="Xz8EPw8/eD96Pz9UIQANVz9DP3pNPz8O" />
    <add key="linkPagos" value="https://apm-common-v1-dev-ol.azure-api.net/colmedica-payment-links/ColmedicaPaymentLink/" />
    <add key="appIdLinkPagos" value="9af2d5dbb26143b3833c8466db0fa8c1" />
    <add key="logicAppConec" value="Endpoint=sb://sb-common-v1-dev-ol.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=h5iCeD0ppRgLlCN4Guez+0vM0I24xXWcAaCoacgpEMY=" />
    <add key="nameCola" value="logsdatav2" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>