<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="baseUrlApi" value="https://cosabog06xz023.colmedica.com/COAP131/SvcWhatsApp.svc/rest/" />
    <add key="baseUrlApiToken" value="https://cosabog06xz023.colmedica.com/COAP131/SvcAcceso.svc/rest/" />
    <add key="usuarioBot" value="NI900801459" />
    <add key="pwdBot" value="OneLinkPrueba2020*" />
    <add key="llaveCifrado" value="Xz8EPw8/eD96Pz9UIQANVz9DP3pNPz8O"/>
    
  </appSettings>
</configuration>