<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
<connectionStrings>
  <add name="ColmedicaContext" connectionString="metadata=res://*/ColmedicaModel.ColmedicaModel.csdl|res://*/ColmedicaModel.ColmedicaModel.ssdl|res://*/ColmedicaModel.ColmedicaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql-common-dev-ol.database.windows.net;initial catalog=db-colmedicachatbot-dev;persist security info=True;user id=usrcolmedicachatbotdev;password=2021EA56-3BCB-4E4D-B5AC-35D159B0EBDF;MultipleActiveResultSets=True;App=EntityFramework&quot;"      providerName="System.Data.EntityClient"/>
</connectionStrings>

</configuration>